extends layout

block content
  .row
    .col-md-9
      br
      h1 Learn more about:
      br
      br
      .row
        .col-md-4
          h3 How Communities Sponsor Refugees
          br
          p Ready to get started?
          a(href='http://refugeesponsorship.org/_uploads/5a56594b7e1bd.pdf') Read Global Refugee Sponsorship Initiative's At A Glance about the program.
        .col-md-6
          h3 Watch: Canada's Program
            iframe(type='text/html' width='512' height='312'
            src='http://www.youtube.com/embed/KbdXZRbGxz8'
            frameborder='0')

      br
      br
      .row
        .col-md-4
          h3 Sponsorship Experiences
          br
          p Want to learn more? 
          a(href='http://refugeesponsorship.org/guidebook') Read the Global Refugee Sponsorship Initiative's Guidebook.
        .col-md-6
          h3 Watch: The Experience
            iframe(type='text/html' width='512' height='312'
            src='http://www.youtube.com/embed/J5pFTgmYYKg'
            frameborder='0')

      br
      br
      .row
        .col-md-4
          h3 Expanding Worldwide
          br
          p Ready to be a part of the movement? 
          a(href='/signup') Sign Up to connect with mentors near you.
        .col-md-6
          h3 Community Sponsorship in the UK
          iframe(type='text/html' width='512' height='312'
          src='http://www.youtube.com/embed/fNGm_ttXf1M'
          frameborder='0')

      br
      br
    .col-md-3
      br
      h1.text-center Did you know?
        .card.text-center.text-white(style='width: 18rem; margin:1rem;background-color:#00c8cc')
          .card-body
            h4.card-title Resettlement is a rare option.
            h6.card-text Tens of millions of refugees worldwide are seeking a permanent protection solution, but fewer than 1% of them are likely to benefit from resettlement under existing programs.

        .card.text-center.text-white(style='width: 18rem; margin:1rem;background-color:#00c8cc')
          .card-body
            h4.card-title Community sponsorship is a pathway to resettlement.
            h6.card-text In community sponsorship, private citizens form groups and commit to providing integration, emotional, and financial support for a designated sponsorship period (usually one year) to help refugees adjust to life in a new country. 

        .card.text-center.text-white(style='width: 18rem; margin:1rem;background-color:#00c8cc')
          .card-body
            h4.card-title Community sponsorship is a whole-of-society approach.
            h6.card-text Government, civil society, community groups, individual citizens, and the private sector each have an important role to play to ensure successful resettlement outcomes for refugees.

        .card.text-center.text-white(style='width: 18rem; margin:1rem;background-color:#00c8cc')
          .card-body
            h4.card-title Canada has resettled more than 300,000 refugees since its community sponsorship program began in 1979..
            h6.card-text The UK, Argentina, Ireland, and New Zealand are also developing community sponsorship programs.

        .card.text-center.text-white(style='width: 18rem; margin:1rem;background-color:#00c8cc')
          .card-body
            h4.card-title Community sponsorship creates lasting bonds between newcomers and their neighbors and local authorities.
            h6.card-text Sponsorship strengthens communities and builds awareness of broader refugee-related issues.
        
        .card.text-center.text-white(style='width: 18rem; margin:1rem;background-color:#00c8cc')
          .card-body
            h4.card-title Community sponsorship can increase resettlement spots.
            h6.card-text By enabling citizens to engage in resettlement efforts, community sponsorship adds to government resettlement programs and increases a country’s overall capacity. Community sponsorship can also improve the quality of integration for refugees as a result of the personalized support and networks sponsors can provide.

